.perfil-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  border-radius: 20px;
}

.perfil-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  text-align: center;
}

.perfil-foto {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #264143;
  box-shadow: 3px 4px 0px 1px #a43931;
}

.perfil-placeholder {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: black;
  border: 2px solid #264143;
}

.perfil-nombre {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  color: black;
}

.perfil-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 15px;
  align-items: center;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 4px 0px 1px #4b1248;
}

.perfil-input,
.perfil-select,
.perfil-textarea,
.perfil-file {
  width: 100%;
  padding: 12px;
  border: 2px solid #264143;
  border-radius: 4px;
  font-size: 15px;
  box-shadow: 1px 2px 0px 0px #a43931;
  outline: none;
  color: black;
}

.perfil-button {
  padding: 15px;
  width: 100%;
  font-size: 15px;
  background-image: linear-gradient(to bottom, #2c3e50, #3498db);
  border-radius: 10px;
  font-weight: 800;
  box-shadow: 3px 3px 0px 0px #4b1248;
  cursor: pointer;
}

.perfil-button:hover {
  background-color: rgba(158, 85, 241, 0.765);
  opacity: 0.9;
}

.perfil-subtitulo {
  font-size: 20px;
  margin: 20px 0;
  color: black;
}

.perfil-publicaciones {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 600px;
}

.perfil-publicacion {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 3px 4px 0px 1px rgba(0, 0, 0, 0.1);
  border: 2px solid #264143;
}

.perfil-publicacion-titulo {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.perfil-publicacion-descripcion {
  font-size: 14px;
  color: #555;
}
