/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/Componentes/Navbar.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.Navbar_navbar__65a2r {
  width: 100%;
  background: #43c6ac;
  background: -webkit-linear-gradient(to right, #43c6ac, #191654);
  background: linear-gradient(to right, #43c6ac, #191654);
  color: #fff;
  padding: 1rem 0;
  height: 110px;
  border: black;
}

.Navbar_navContent__4awUg {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar_logo__vUnrF a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

.Navbar_logo__vUnrF img {
  border-radius: 50%;
  overflow: hidden;
}

.Navbar_navLinks__qkGOj {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.Navbar_navLinks__qkGOj a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.Navbar_navLinks__qkGOj a:hover {
  color: #43c6ac;
}

.Navbar_donacionButton__RaOOK {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Navbar_donacionButton__RaOOK:hover {
  background-color: #45a049;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/Componentes/Contenedor.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.Contenedor_contenedor__C9bmY {
  width: 100%;
  max-width: 1200px;
  min-height: 600px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/Componentes/Boton.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
/* Boton.module.css */
.Boton_button__AaShL {
  height: 50px;
  width: 100%; /* Asegura que el botón ocupe todo el ancho del contenedor */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.Boton_button__AaShL:hover {
  box-shadow: 0.5px 0.5px 150px #252525;
}

.Boton_type1__CwslT::after {
  content: "Gracias";
  height: 50px;
  width: 100%; /* Ajuste para que coincida con el tamaño del botón */
  background-color: #008080;
  color: #fff;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(50px);
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.Boton_type1__CwslT::before {
  content: "Donar";
  height: 50px;
  width: 100%; /* Ajuste para que coincida con el tamaño del botón */
  background-color: #fff;
  color: #008080;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(0px) scale(1.2);
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.Boton_type1__CwslT:hover::after {
  transform: translateY(0) scale(1.2);
}

.Boton_type1__CwslT:hover::before {
  transform: translateY(-50px) scale(0) rotate(120deg);
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/Componentes/Donaciones.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
/* Donaciones.module.css */
.Donaciones_donationContainer__qVJxX {
  text-align: center;
  max-width: 600px; /* Asegúrate de que este max-width esté definido para que se ajuste */
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  border-radius: 10px;
  text-align: left;
}

.Donaciones_donationContainer__qVJxX h2 {
  font-size: 24px;
  color: black;
  margin-bottom: 10px;
}

.Donaciones_donationContainer__qVJxX p {
  color: white;
}

.Donaciones_amountOptions__Zn562 {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.Donaciones_amountOptions__Zn562 button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Donaciones_amountOptions__Zn562 button:hover {
  background-color: #45a049;
}

.Donaciones_customInput__jNeM_ {
  padding: 10px;
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid gray;
  color: black;
}

/* Estilo del botón de donación */
.Donaciones_donateButton__bvCyY {
  padding: 12px 20px;
  font-size: 18px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Hace que el botón ocupe todo el ancho disponible */
}

.Donaciones_donateButton__bvCyY:hover {
  background-color: #0b7dda;
}

/* Estilo para el botón con animación */
.Donaciones_button__lKxTe {
  height: 50px;
  width: 100%; /* Asegura que el botón ocupe el 100% del contenedor */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.Donaciones_button__lKxTe:hover {
  box-shadow: 0.5px 0.5px 150px #252525;
}

.Donaciones_type1__7xJcT::after {
  content: "Gracias";
  height: 50px;
  width: 100%; /* Ajuste para que coincida con el tamaño del botón */
  background-color: #008080;
  color: #fff;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(50px);
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.Donaciones_type1__7xJcT::before {
  content: "Donar";
  height: 50px;
  width: 100%; /* Ajuste para que coincida con el tamaño del botón */
  background-color: #fff;
  color: #008080;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(0px) scale(1.2);
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.Donaciones_type1__7xJcT:hover::after {
  transform: translateY(0) scale(1.2);
}

.Donaciones_type1__7xJcT:hover::before {
  transform: translateY(-50px) scale(0) rotate(120deg);
}

