/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/Componentes/Navbar.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.Navbar_navbar__65a2r {
  width: 100%;
  background: #43c6ac;
  background: -webkit-linear-gradient(to right, #43c6ac, #191654);
  background: linear-gradient(to right, #43c6ac, #191654);
  color: #fff;
  padding: 1rem 0;
  height: 110px;
  border: black;
}

.Navbar_navContent__4awUg {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar_logo__vUnrF a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

.Navbar_logo__vUnrF img {
  border-radius: 50%;
  overflow: hidden;
}

.Navbar_navLinks__qkGOj {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.Navbar_navLinks__qkGOj a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.Navbar_navLinks__qkGOj a:hover {
  color: #43c6ac;
}

