.navbar {
  width: 100%;
  background: #43c6ac;
  background: -webkit-linear-gradient(to right, #43c6ac, #191654);
  background: linear-gradient(to right, #43c6ac, #191654);
  color: #fff;
  padding: 1rem 0;
  height: 110px;
  border: black;
}

.navContent {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

.logo img {
  border-radius: 50%;
  overflow: hidden;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navLinks a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.navLinks a:hover {
  color: #43c6ac;
}

.donacionButton {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.donacionButton:hover {
  background-color: #45a049;
}
